/* main color (60%):#2193b0  secondary 30%: #E9EBF5, accent 10%: #834BF2 */


* {
    padding: 0px;
    margin: 0px;
}
 header {
     margin-top: 10px;
 }

#menu-lists {
    font-size: 1.123rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: #2193b0;
}

#menu-lists > li {
   text-decoration: none;
   list-style-type: none;
}


#menu-lists > li:hover {
   text-decoration: underline;
   cursor: pointer;
}

.menu-link {
    text-decoration: none;
    color: #2193b0;
}

h1 {
    margin-top: 20px; 
    text-align: center;
    font-size: 500%;
    font-style: italic;
    color: #2193b0;
}

#comma {
    color: #834BF2;
}


#img-div {
    display: block;
     position: relative;
     bottom:  110px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    font-size: 1.25rem;
    color: #666666;
    position: absolute;
    top: 460px;
    margin: 0px 170px 0px 170px;
}

#personality {
    display: flex;
    position: relative;
    top: 15px;
    flex-direction: row;
    justify-content: center;
}

.lifestyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    width: 20%;
    height: 135px;
    background: linear-gradient(90deg,#2193b0, #063970);
    color: white;
    margin-left: 17px;
    margin-right: 17px;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.lifestyle:hover {
    transform: scale(1.1);
}

.first-lifestyle {
    width: 25%;
    height: 135px;
    line-height: 22px;
}

.second-lifestyle {
    width: 25%;
    height: 135px;
    line-height: 22px;
}

ul, ol{
    list-style-position: inside;
    text-align: justify;
    list-style-type: disc;
    padding-left: 13px;
}


#contact-button {
    position: absolute;
    bottom: -141px;
    right: 475px;
    width: 25%;
    padding: 15px 0px 15px 0px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color:#fff;
    color: #834BF2;
    border: 1px solid #834BF2;
    text-decoration: none;
}

#contact-button:hover {
    background-color: #8c58f3;
    color:#fff;
}


#kayode-footer {
    font-size: 1rem;
    width: 100%;
    height: 30px;
    background-color: #2193b0;
    color: white;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: -210px;
}