* {
    padding: 0px;
    margin: 0px;
}
 header {
     margin-top: 10px;
 }

#menu-lists {
    font-size: 1.123rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: #2193b0;
}

#menu-lists > li {
   text-decoration: none;
   list-style-type: none;
}


#menu-lists > li:hover {
   text-decoration: underline;
   cursor: pointer;
}

h1 {
    margin-top: 20px; 
    text-align: center;
    font-size: 500%;
    font-style: italic;
    color: #2193b0;
}

#comma {
    color:#3333ff;
}


#img-div {
    display: block;
     position: relative;
     bottom:  110px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    font-size: 1.25rem;
    color: #666666;
    position: absolute;
    top: 460px;
    margin: 0px 150px 0px 150px;
}

#personality {
    display: flex;
    position: relative;
    top: 50px;
    flex-direction: row;
    justify-content: center;
}

.lifestyle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20%;
    height: 130px;
    background: linear-gradient(90deg,#2193b0, #3333ff);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.lifestyle:hover {
    transform: scale(1.1);
}

.first-lifestyle {
    width: 25%;
    height: 130px;
    line-height: 22px;
}

.second-lifestyle {
    width: 25%;
    height: 130px;
    line-height: 22px;
}

ul, ol{
    list-style-position: inside;
    text-align: justify;
    list-style-type: disc;
    padding-left: 13px;
}

#kayode-footer {
    width: 100%;
    height: 30px;
    background-color: #2193b0;
    color: white;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
}